// Weight Utility




// Dependencies:
//   Settings.Default




// Options

$iota-weight            : true;
$iota-weight-namespace  : 'weight-' !default;
$iota-weight-sizes      : () !default;




@each $weight-name, $weight-size in $iota-weight-sizes {
  
  .#{$iota-utility-namespace}#{$iota-weight-namespace}#{$weight-name} {
    font-weight: #{$weight-size} !important;
  }

}
